 .body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
 ._icon{
        width: 20px;
        height: 20px;
        vertical-align: middle;
         margin-right: 8px;
            
}
.profile-photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    float: left;
    margin-left: 40px;
    margin-top: 5px;
}
.profile-header{
    text-align: center;
    
    background-color:coral;
    color: white;

}
main{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.head_item{
    background-color: coral;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: coral;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
meter{
    width: 70%;
    height: 15px;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}